.conteudo {
    display: flex;
    width: 680px;
    height: 630px;
    position: absolute;
    top: 70px;
    left: 300px;
    z-index: 3;
    justify-content: space-between;
    background-color: white;
    
}

.conteudo h1 {
    color: white;
    font-size: 100px;
    padding: 0px 10px;
    border-radius: 10px;
}

.conteudo h2 {
    margin-left: 10px;
    margin-top: 30px;
}

#arroba {
    color: white;
    font-style: italic;
    font-size: 1.6em;
}

.titulos {
    display: flex;
    flex-direction: column;
    margin-left: -250px;
    margin-top: 100px;
    z-index: 4;
}

.titulos h2 {
    font-size: 2em;
}

.dados {
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-right: -250px;
    justify-content: center;
}

.dados h2 {
    height: 0px;
}

.segundoh2 {
    padding-left: 30px;
}

.histories {
    text-align: start;
}

.bloco {
    display: flex;
    height: 100px;
    gap: 30px;
    display: flex;
    justify-content: center;
}

#icon {
    font-size: 35px;
    border: 2px solid #39353386;
    border-radius: 50%;
    padding: 12px;
}

#icon:hover {
    background-color: var(--Vermelho);
    transition: 0.5s;
}

.subBloco1 {
  display: flex;
  flex-direction: column;
  text-align: end;
  width: 160px;
  font-size: 5em;
}

.subBloco2 {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.videos {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../../../Fotos/card1.png");
    background-size: cover;
    z-index: 1;
}


.videos i {
    font-size: 5em;
    color: rgb(255, 255, 255);
}

.videos i:hover {
    font-size: 6em;
    color: var(--Paragrafo);
    transition: .5s;
}


#x {
    color: var(--Paragrafo);
    font-size: 3em;
    position: absolute;
    top: -20px;
    left: -20px;
    z-index: 3;
    cursor: pointer;
}

.iframe {
    width: 101.5%;
    height: 100%;
    position: absolute;
    z-index: 2;
}

.metaDados {
    display: flex;
    width: 500px;
    height: 200px;
    position: absolute;
    z-index: 10;
    bottom: -160px;
    right: -480px;
    
}

.metaDados_1 {
    width: 200px;
    height: 10px;
    border-top: 4px solid var(--Paragrafo);
    margin-top: 13px;
}

.metaDados_2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    padding-left: 10px;
    font-size: 5em;
}

.metaDados_2 h2 {
    margin: 0;
    padding: 0;
    font-style: italic;
}

.metaDados_2 a {
    color: var(--Paragrafo);
    text-decoration: none;
    display: flex;
}

.metaDados_2 h2:hover, .metaDados_2 a:hover {
    color: var(--Vermelho);
    transition: .5s;
    cursor: pointer;
}

#link {
    font-size: .5em;
}


