
.home {
    width: 100%;
    background: url("../../Fotos/fundo.exe.png");
}




.homeContent {
    width: 100%;
    height: 88%;
    display: flex;
    
    
}

.content_wrap {
    display: flex;
    
}

.foto {
    width: 600px;
    height: 750px;
    background-image: url("../../Fotos/thais2.png");
    background-size: cover;
}

.about {
    width: 50%;
    margin: 0 auto;
}

.about h1 {
    font-family: Glass Water;
    font-size: 7em;
    color: var(--Titulo);
    margin-top: 0.3em;
}

.about p {
    color: #3935338f;
    font-size: 1.3em;
    font-style: italic;
}

.about h2 {
    margin-top: 2em;
    color: var(--Titulo);
    font-size: 1.2em;
    line-height: 33px;
}

.linha {
    width: 40%;
    height: 6px;
    border-radius: 10px;
    background-color: var(--Vermelho);
}

.ass {
    width: 90%;
    height: 200px;
    background-image: url("../../Fotos/thaisAT.png");
    background-repeat: no-repeat;
    background-size: 80%;
    margin-top: 20px;
    margin-left: 50px;
}

.links {
    border-bottom: 3px solid var(--Vermelho);
    
}

.links a {
    text-decoration: none;
    cursor: help;
    color: var(--Titulo);
}



@media (max-width:1510px) {
    .ass {
        margin-left: 200px;
        margin-top: -20px;
    }

    .home {
        background: none;
    }
  }

  @media (max-width:550px) {
    .ass {
        width: 70%;
        margin-top: 20px;
        margin-left: 100px;
    }
  }


 