@font-face {
  font-family: "Glass Water";
  src: url(../Fonts/glass-water-free-personal-use.ttf);
}

@font-face {
  font-family: "Gol";
  src: url("https://fonts.adobe.com/fonts/gal-gothic-variable?vf-instance=Medium&vf-font-size=100&vf-font=GalGothicVariableRoman-Light");
}

@font-face {
  font-family: "Benkids";
  src: url(../Fonts/Benkids-BF650a9cdf13544.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gol";
}


body {
  height: 100vh;
  background-color: #D6CAAF;
  display: flex;
  align-items: center;
  justify-content: center;
}

:root {
  --Background: #D6CAAF;
  --Titulo: #393533;
  --Paragrafo: #100E0B;
  --Vermelho: #D66361;
  --Background_claro: #fff1cf;
}

#root {
  position: fixed;
}

.container {
  height: 800px;
  width: 1800px;
  background-color: #D6CAAF;
  border: 4px solid #000000;
  border-radius: 5px;
  display: flex;
  position: relative;
}



h1 {
  font-size: 4em;
  color: var(--Titulo);
}

h2 {
  font-weight: 300;
}

p {
  font-size: 2em;
  color: var(--Titulo);
}

@media (max-width:1900px) {
  .container {
    transform: scale(0.8);
  }
}

@media (max-width:1510px) {
  .container {
    width: 1600px;
    height: 800px;
  }
}