@font-face {
  font-family: "Glass Water";
  src: url(../Fonts/glass-water-free-personal-use.ttf);
}

@font-face {
  font-family: "Gol";
  src: url("https://fonts.adobe.com/fonts/gal-gothic-variable?vf-instance=Medium&vf-font-size=100&vf-font=GalGothicVariableRoman-Light");
}

@font-face {
  font-family: "Benkids";
  src: url(../Fonts/Benkids-BF650a9cdf13544.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gol";
}

html {
 background-color: #D6CAAF;
}

:root {
  --Background: #D6CAAF;
  --Titulo: #393533;
  --Paragrafo: #100E0B;
  --Vermelho: #D66361;
}

.container {
  height: 800px;
  width: 1800px;
  background-color: #D6CAAF;
  margin: 70px auto;
  border: 4px solid #000000;
  border-radius: 5px;
  display: flex;
}

h1 {
  font-size: 4em;
  color: var(--Titulo);
}

h2 {
  font-weight: 300;
}

p {
  font-size: 2em;
  color: var(--Titulo);
}
